/* Global styles */

* {
	user-select: none;
}

footer {
   	width: 100%;
   	height: 3%;
	color: #666;
	background-color: #222;
	padding: 1% 0 4% 0;
	border-top: 1px solid #000;
	margin-top: 3%;
}

body { 
	background: #F5F5F5 !important; 
}

hr {
	border: 0;
    height: 1px;
    background: #989898;
}

img {
	border: solid 1px #666;
}

h1 {
	text-align: right;
	font-size: 3em;
}















/* content*/

#content {
	margin: 2%;
	padding: 2%;
	background-color: #FFFFFF;
	border: solid 1px;
	border-color: #A9A9A9;
}

#codimg {
	
	width: 100%;
	margin-left: 0;
	padding: 0;
}

#webimg {
	width: 50%;
}

.left-img {
	margin-top: 10%;
	display: block;
	margin-right: auto;
}

.center-img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}




.section {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
	margin-top: 10%;
}

.paragraph {
  color: #555;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 20px;
}

.title {
  font-size: 24px;
  color: #222;
  line-height: 24px;
}

.content-left{
	margin-right: 15%;
	width: 60%;
}





/* scrollbar */

::-webkit-scrollbar{
	width: 10px;
	background: #e6e4e2;
}

::-webkit-scrollbar-thumb{
	background: #b8b4b2;
	border: solid 1px;
	border-radius: 6px;
	border-color: #A9A9A9;
}

::-webkit-scrollbar-thumb:hover{
	background: #a19d9b;
	border: solid 1px;
	border-radius: 6px;
	border-color: #A9A9A9;
}

::-moz-scrollbar{
	width: 12px;
	background: #e6e4e2;
}

::-moz-scrollbar-thumb{
	background: #b8b4b2;
	border: solid 1px;
	border-radius: 6px;
	border-color: #A9A9A9;
}

::-moz-scrollbar-thumb:hover{
	background: #a19d9b;
	border: solid 1px;
	border-radius: 6px;
	border-color: #A9A9A9;
}